extends ./layout

append css
  link(rel="stylesheet", href="/css/view.css")
block content
  .view-bg(style="background-image: url(#{post.imgsrc})")
    h1 #{post.title}
    .post-meta
      span.post-auther
        i.fa.fa-user &nbsp; #{post.author.name}
      span.post-create
        i.fa.fa-calendar &nbsp; #{moment(post.created).format('YYYY-MM-DD')}
      span.post-category 
        i.fa.fa-shopping-basket &nbsp; 
        a(href='/category/' + post.category.title, target="_black") #{post.category.title}
      span.post-comment 
        i.fa.fa-comment &nbsp; #{post.comments.length || 0}
      span.post-favorite 
        a(href='/favorite/' + post._id)
          i.fa.fa-star &nbsp; #{post.meta.favorite || 0}
  .post-view
    .post-content
      != post.content

    .post-comments
      if post.comments.length
        p(style="color:pink") Comments | #{post.comments.length} 条评论
        .post-comment-list
          each comment in post.comments
            .post-comment
              .post-comment-img
              .post-comment-info
                p(style='color: orange;font-size:1.4em;') &nbsp;&nbsp;#{comment.nikename}
                p(style='color: #ccc;') &nbsp;&nbsp;发布于&nbsp;&nbsp;#{moment(comment.created).format('YYYY-MM-DD HH:mm')}
              p.post-comment-text #{comment.content}

      form.post-comment-form(action="/comment/" + post._id, method="post", enctype="application/x-www-form-urlencoded")
        .form-group
          input.form-nikename(type="text", name="nikename", placeholder="请输入昵称..." required="")
        .form-group
          input.form-email(type="email", name="email", placeholder="请输入邮箱..." required="")
        .form-group
          textarea.form-text(type="text", name="content", placeholder="请输入内容..." required="")
        button.form-btn 发表评论

